
.content{
	display: table;
    margin: 0 auto;
    background: #ffc0cb26;
    padding: 39px;
    margin-top: 25px;
	margin-bottom: 50px;
	text-align: center;
	.name{
		color: red;
		text-transform: uppercase;
		font-size: 40px;
	}
	.age{
		font-size: 28px;
	}
	.email{
		font-size: 24px;
	}
}
.text-animal{
	h1{
		text-align: center;
		font-size: 32px;
		color: #009688;
		text-decoration: underline;
	}

}
#AllImages{
	display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 80px;
    max-width: 1366px;
    margin: 0 auto 30px;
    overflow: hidden;
}
.ImageLazyLoad{
	width: 100%;
	height: 30vh;
    display: inline-block;
    text-align: center;
    position: relative;
	img{
		width: 100%;
		position: absolute;
		left: 0;
		/* top: 0; */
		object-fit: cover;
		height: 100%;
	}
}

@media screen and (max-width: 768px){
	#AllImages{
		grid-template-columns: repeat(2,1fr);
		grid-gap: 30px;
	}
}
@media screen and (max-width: 600px){
	#AllImages{
		grid-template-columns: repeat(1,1fr);
	
	}
	.content {
		.name{
			font-size: 16px;
		}
		.age{
			font-size: 14px;
		}
		.email{
			font-size: 14px;
		}
	}
	.text-animal {
		h1{
			font-size: 20px;
		}
	}
	
}